* {
    margin: 0;
    padding: 0;
}

/* img {
    height: 100%;
    width: auto;
} */

.logo {
    position: fixed;
}

.logo img {
    width: auto;
    height: 3rem;
    margin: 5rem;
}

h1 {
    font-size: 2.8rem;
    font-family: poynter-oldstyle-display, serif;
    color: white;
    font-weight: 100;
    font-style: normal;
    padding-bottom: 18px;
}

h2 {
    font-size: 0.8rem;
    font-family: europa, sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding-bottom: 10px;

}

p {
    font-family: poynter-oldstyle-display,serif;
    font-size: 1rem;
    color: white;
    max-width: 32rem;
    line-height: 1.6rem;
}

.intro {
    height: 100vh;
    background-image: url('images/motor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro_left, .intro_right {
    padding: 5rem;
}

.show_more {
    display: flex;
    align-items: baseline;
}

.arrow {
    border: solid 2px white;
    border-radius: 50px;
    padding: 1px 5px;
    margin-right: 10px;
}