* {
    margin: 0;
    padding: 0;
    
}

body {
        /* background-color: #181618; */
        background-color: black;
}

.logo {
    position: fixed;
    z-index: 1000;
}

.logo img {
    width: auto;
    height: 3rem;
    margin: 5rem;
}

h1 {
    font-size: 2.8rem;
    /* font-family: poynter-oldstyle-display, sans-serif; */
    font-family: avenir next condensed, sans-serif;
    text-transform: uppercase;
    color: white;
    line-height: 3rem;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 16px;
}

h2 {
    font-size: 0.8rem;
    font-family: europa, sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding-bottom: 10px;

}

p {
    font-family: poynter-oldstyle-display,serif;
    font-size: 1rem;
    color: white;
    max-width: 32rem;
    line-height: 1.6rem;
}

.intro {
    height: 100vh;
    background-image: url('images/motor_black.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro_left, .intro_right {
    padding: 5rem;
}

.show_more {
    display: flex;
    align-items: baseline;
}

.arrow {
    border: solid 2px white;
    border-radius: 50px;
    padding: 1px 5px;
    margin-right: 10px;
}

.section_map {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(4, 40, 51) 56%, rgba(0, 0, 0, 1) 100%);
    ;
}


#los_angeles {
    transition: 300ms;
}

#los_angeles:hover {
    transform: translate(689px, 706px) !important;
    animation: la 2s infinite;
    transition: 300ms;
    animation-delay: 500ms;
}

@keyframes la {
    20% {
        transform: translate(689px, 706px)
    }

        40% {
            transform: translate(689px, 686px)
        }
}

#san_jose {
    transition: 300ms;
    
}

#san_jose:hover {
    transform: translate(149px, 200px) !important;
    animation: sj 2s infinite;
    transition: 300ms;
    animation-delay: 500ms;
}

@keyframes sj {
    20% {
        transform: translate(149px, 200px)
    }

    40% {
        transform: translate(149px, 187px)
    }
}

#musk_een {
    width: 30%;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 5rem;
    display: none;
    transition: 300ms;
    opacity: 0;
}

#musk_twee {
    width: 30%;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 5rem;
    display: none;
    transition: 300ms;
    opacity: 0;
    
}

.mapfoto {
    opacity: 1 !important;
    display: flex !important;
    z-index: 20;
}

.map_title {
    justify-content: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 18%;
    z-index: 1;
}

.section_one {
    align-content: center;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
            /* background-color: #181618; */
            background-color: black;
    overflow: hidden;
}

.section_one img {
    max-height: 400px;
    width: auto;
}

.section_three {
    height: 100vh;
    background-image: url('images/train_old.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding-top: 25rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
            /* background-color: #181618; */
            background-color: black;
    overflow: hidden;
    padding-top: 0px;
}

.section_three p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.section_video {
    -webkit-clip-path: inset(20% 0px 20% 0px);
    clip-path: inset(20% 0px 20% 0px);
    display: block;
    overflow: hidden;
}

.video1 {
        width: 100%;
}

.section_two {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
            /* background-color: #181618; */
            background-color: black;
    overflow: hidden;
}

.section_two img {
    max-height: 400px;
    width: auto;
}

.hyperloop {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(253, 187, 45, 0) 100%);
}

.hyperloop_animation {
    width: 32%;
    margin-left: 200%;
    animation: hyperloop 5s infinite;
    
}

.hyperloop_buis {
    z-index: 100;
    width: 100%;
    position: absolute;
}

.gras {
    margin-top: 5%;
    height: 30px;
    background: rgb(0, 0, 0);
}

@keyframes hyperloop {
    10% {
        margin-left: 200%;
        margin-right: 0%;
    }

    50% {
        margin-left: 0%;
        margin-right: 200%;
    }

        51% {
            opacity: 1;
                    margin-left: 900%;
                    margin-right: 0%;
}

}

.section_alinea {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .map_title {
        position: relative;
        display: flex; 
        margin-right: 15%;
        margin-bottom: -24em;
    }
}

@media only screen and (max-width: 650px) {
    .intro_left,
    .intro_right {
        padding: 2rem;
    }

    .logo img {
        width: auto;
        margin: 2rem;
    }

    .svg1 {
        height: 600px;
    }

        .map_title {
            margin-bottom: -18em;
            margin-right: 2rem;
        }

        #musk_een, #musk_twee {
            width: 50%;
            opacity: 0.8 !important;
            padding-bottom: 80px;
        }
}


@media only screen and (max-width: 500px) {

    .section_one img {
        width: 90%;
    }

    .section_two img {
        width: 90%;
    }
}